.mg-message {
    position: fixed;
    left: 50%;
    width: 380px;
    height: 40px;
    z-index: 9999;
    margin-left: -190px;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    border-radius: 5px;
    transition: top .3s ease-out;

    &.is-close .mg-message__content {
        padding-right: 30px;
    }

    .mg-message__close {
        position: absolute;
        right: 0;
        top: 0;
        display: flex;
        align-items: center;
        height:40px;
        width:30px
    }

    .mg-message__close svg {
        cursor: pointer;
    }
}

.mg-message--warning {
    background-color: #fdf6ec;
    color: #b88230;
}

.mg-message--success {
    background-color: #f0f9eb;
    color: #529b2e;
}

.mg-message--info {
    background-color: #f4f4f5;
    color: #73767a;
}

.mg-message--error {
    background-color: #fef0f0;
    color: #c45656;
}

.mg-message.fade-up-enter-from,
.mg-message.fade-up-leave-to {
    opacity: 0;
    transform: translate(-50%, -100%);
}


.mg-container {
    display: flex;           /* 启用Flexbox布局 */
    align-items: center;     /* 垂直居中对齐 */
    justify-content: flex-start; /* 项目在主轴上平均分布空间 */
}
